<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tiantao.dao.TeamDao">

	<!-- 保存评审 -->
	<insert id="saveTeam" parameterType="org.tiantao.bean.Team">
		<selectKey order="AFTER" keyProperty="id" resultType="int">
			select LAST_INSERT_ID() as id
		</selectKey>
		insert into team(team) values(#{team});
	</insert>
	<select id="findAllTeams" parameterType="map" resultType="org.tiantao.bean.Team">
		select * from team limit #{pageNum},#{pageSize}
	</select>


	<select id="findTeam" parameterType="string" resultType="org.tiantao.bean.Team">
		select * from team where team=#{team};
	</select>

	<select id="getOneTeamById" parameterType="int" resultType="org.tiantao.bean.Team">
		select * from team where id = #{id};
	</select>
	<update id="updateTeam" parameterType="org.tiantao.bean.Team">
		update team set team=#{team} where id=#{id};
	</update>
	<delete id="deleteTeamById" parameterType="int">
		delete from team where id=#{id};
	</delete>
	<select id="countTeams" resultType="int">
		select count(*) from team;
	</select>
</mapper>  